form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
label {
  font-weight: bold;
}
.label.required::after {
  content: " *";
  color: red;
}
input, select {
  padding: 0.5rem;
  width: 200px;
}
